sudo: required
services:
    - docker

before_install:
    - docker build -t alekseevs/docker-react -f Dockerfile.dev .

script:
     - docker run alekseevs/docker-react #npm run test -- --coverage CI=true
#     - travis_terminate 0

deploy:
    provider: elasticbeanstalk
    region: "eu-west-1"
    app: "docker"
    env: "Docker-env"
    bucket_name: "elasticbeanstalk-eu-west-1-474725156154"
    bucket_path: "docker"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key:
        secure: "$AWS_SECRET_KEY"
